brats/logs/*
!brats/logs/.gitkeep
brats/data/incoming/*
brats/data/processed/*
!brats/data/incoming/.gitkeep
!brats/data/processed/.gitkeep
brats/docker/id_*
brats/docker/known_hosts


brats_filter/data/*
!brats_filter/data/.gitkeep
brats_filter/logs/filter.log
brats_filter/logs/postop/*
brats_filter/logs/preop/*
!brats_filter/logs/postop/.gitkeep
!brats_filter/logs/preop/.gitkeep


brats_receive_mri/data/*
!brats_receive_mri/data/.gitkeep
brats_receive_mri/logs/postop/*
brats_receive_mri/logs/preop/*
!brats_receive_mri/logs/postop/.gitkeep
!brats_receive_mri/logs/preop/.gitkeep
brats_receive_mri/demo_dcm
